/*HEADER*/
.header {
  height: auto;
  background-color: #050706; }
  .header .header--desktop {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 11fr; }
  .header .header--mobile {
    display: none; }
  .header .header__logo {
    width: auto;
    height: 100%; }
  .header .header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .header .header__nav__list__item {
    padding: 10px;
    margin: 20px; }
    .header .header__nav__list__item a {
      text-decoration: none;
      color: white;
      font-size: 30px;
      font-family: "Roboto", sans-serif;
      transition-property: color, border-bottom;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      border-bottom: 1px solid transparent; }
    .header .header__nav__list__item:hover {
      color: #534646;
      border-bottom: 1px solid #534646; }

/* FOOTER */
.footer {
  display: grid;
  grid-template-rows: 2fr 0.5fr;
  background-color: #050706;
  width: 100vw; }
  .footer.footer__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    border-bottom: 1px solid #fff; }
  .footer.footer__top__nav {
    display: flex; }
  .footer.footer__top__nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .footer.footer__top__nav__list__item {
    margin: 5px 0px; }
    .footer.footer__top__nav__list__item a {
      text-decoration: none;
      color: white;
      font-size: 25px;
      font-family: "Roboto", sans-serif;
      transition-property: color, border-bottom;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      border-bottom: 1px solid transparent; }
      .footer.footer__top__nav__list__item a:hover {
        color: #534646;
        border-bottom: 1px solid #534646; }
    .footer.footer__top__nav__list__item.footer__top__logo {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    .footer.footer__top__nav__list__item.footer__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem; }
    .footer.footer__top__nav__list__item.footer__bottom__socialmedia img {
      width: 2rem;
      height: 2rem;
      margin: 0px 10px; }
    .footer.footer__top__nav__list__item.footer__bottom__copyright p {
      color: white;
      margin: 0;
      text-decoration: underline;
      font-family: "Roboto", sans-serif; }
  .footer .grid_body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr; }

/* MEDIA QUERIES  */
/* -- tablet / desktop lg-- */
@media screen and (max-width: 1200px) {
  .header__nav__list__item {
    padding: 10px;
    margin: 10px; } }

/* -- Mobile -- */
@media screen and (max-width: 992px) {
  .header--desktop {
    display: none; }
  .header--mobile {
    display: block;
    width: 100%;
    padding-bottom: 1rem; }
  .header {
    width: 100vw; }
  .header__logo {
    width: 80px; }
  .navbar-toggler i {
    color: whitesmoke;
    font-size: 2rem; }
  .navbar-nav {
    display: flex;
    justify-content: center; }
  .navbar-nav .nav-item {
    color: whitesmoke; }
  .navbar-nav .nav-item .nav-link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem; }
  .main__hero {
    height: 80vh; }
  .main__hero__banner {
    background-attachment: unset; }
  .main__hero__description {
    width: 100%;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column;
    padding: 32px; }
  .main__hero__description h1 {
    font-size: 32px; }
  .main__hero__description p {
    font-size: 16px; }
  .main__content__article {
    grid-template-columns: 1fr; }
  .main__content--3cols {
    grid-template-columns: 1fr; }
  .main__content__contact__form {
    width: 100%; } }
