


.caja {

    transition-duration: 3s;
    transition-property: widht;
    transition-timing-function: ease-in;
    transition-delay: 10ms;
}


.pelota1 {
    background-color: blue;
    transition: 2s ease-out;
    /* ESTO SE DEBE APLICAR AL ELEMENTO */
}

.pelota1:hover {
    transform: translateX(500px)
    
}

.pelota2 {
    background-color: blue;
    transition: 2s steps(8);
    /* ESTO SE DEBE APLICAR AL ELEMENTO */
}

.pelota2:hover {
    transform: translateY(500px)
    
}


.pelota3 {
    background-color: blue;
    transition: 2s;
    /* ESTO SE DEBE APLICAR AL ELEMENTO */
}

.pelota3:hover {
    transform: scale(1.2)
    
}

/* ROTATE */

.rotatex {
transition: 2s;
}

.rotatex:hover {
    transform: rotateX(180deg);
    }


.tituloanimado {

    animation-name: slidein;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    /* animation-delay: ;
    animation-iteration-count: ; */

}
/* KEYFRAME */
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    
}


.animate {

background-color: blue;
height: 200px;
width: 200px;
}

.animate:hover {
    animation: transformacion 4s;
}

@keyframes transformacion {
    0%{
        border-radius: 0 0 0 0;
        background-color: cadetblue;
    }
    25%{
        border: 50% 0 0 0;
        background-color: coral;
    }
    50%{
        border-radius: 50% 50% 0 0;
        background-color: darkgoldenrod;
    }
    75%{
        border-radius: 50% 50% 50% 0;
        background-color: green;
    }
    100%{
        border-radius: 50% 50% 50% 50%;
        background-color: aquamarine;
    }
}