@import "../base/variables";

/*HEADER*/
.grid_body {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
  }

.header {
    height: auto;
    background-color: #050706;
    &--desktop {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 11fr;
    }
    &--mobile{
        display: none;
    }
    &__logo{
        width: auto;
        height: 100%;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &__nav__list {
        display: grid;
        grid-template-columns: repeat(5, auto);
    }

    &__nav__list__item {
        padding: 10px;
        margin: 20px;
        a {
            text-decoration: none;
            color: white;
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            transition-property: color, border-bottom;
            transition-duration: 0.3s;
            transition-timing-function: ease-in-out;
            border-bottom: 1px solid transparent;
        
        &:hover {
            color: rgb(83, 70, 70);
            border-bottom: 1px solid rgb(83, 70, 70);
        }
}
}}