
/* MAIN */

.main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, auto);

  &__hero {
    display: block;
    position: relative;
    overflow: hidden;
    height: 90vh;
    width: 100vw;

    &__banner {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      height: 100%;
      background-attachment: fixed;

      &--home {
        background-image: url("../images/hero_banner.jpeg");
      }

      &--modelos {
        background-image: url("../images/main_hero_modelos.jpg");
      }
    }

    &__description {
      width: 50%;
      position: absolute;
      top: 20%;
      left: 80px;

      h1 {
        color: white;
        font-family: "Combo", "Lucida Sans", "Lucida Sans Regular",
          "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        font-size: 50px;
        text-decoration: underline;
      }

      p {
        font-style: oblique;
        font-weight: 900;
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: whitesmoke;
        padding: 20px 0;
        margin-top: 10px;
        align-items: center;
      }
    }
  }

  &_hero_modelos {
    background-color: whitesmoke;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding: 32px;
    background-color: $color-fondo;

    &--3cols {
      grid-template-columns: repeat(3, 1fr);
    }

    &__article {
      display: grid;
      grid-template-columns: 2fr 10fr;
      gap: 2rem;

      &__image {
        display: flex;

        img {
          width: 100%;
          border-radius: 10%;
          transition: 1s;

          &:hover {
            transform: scale(0.9);
          }
        }
      }

      &__text {
        justify-content: center;
        display: flex;
        flex-direction: column;

        p {
          color: white;
          font-size: 20px;
          font-family: "Cairo", sans-serif;
          margin: 0;
        }

        h2 {
          color: white;
          font-size: 32px;
          margin-bottom: 10px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }

    &__card {
      --bs-card-bg: whitesmoke;
    }

    &__contact {
      display: grid;
      grid-template-columns: 1fr;

      &__form {
        width: 50vw;
        background-color: whitesmoke;
        margin: auto;
        border: 1px solid #050706;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 2rem;

        h1 {
          text-align: center;
          margin: 0;
          font-size: 30px;
          margin-bottom: 20px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
      }
    }
  }
}

.hero-img {
  filter: grayscale(0.3);
  max-width: 100%;
}
